

.toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--window-bg-c);
    padding: 6px;
    border-radius: 5px;
}

.toolbar[orientation='vertical'] {
    flex-direction: column;
}