.description {
    position: absolute;
    background-color: #181818;
    font-weight: 400;
    color: white;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid rgba(236, 237, 238, 0.04);
    
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 120%;
    z-index: 5100;
}

.connect,
.delete {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}

.connect:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.delete:hover {
    background-color: rgb(47, 4, 18);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: var(--window-hover);
    color: rgb(161, 161, 170);
    border-radius: 5px;
    padding: 6px 12px;
}
