body, html{
  height: 100vh;
  overflow: hidden;
}
button {
  outline: none;
  border: none;
}
html {
  overflow-y: hidden;
}

img[as="icon"] {
  width: 24px;
  height: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

#root {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

/* General */
[layer] {
  position: absolute;
  width: 100%;
  height: 100%;
}

:root {
  --window-bg-c: #18181B;
  --window-hover: #3F3F46;

  --blue-c: #007AFF;
  --text-hover: #52525B;

  --yellow-c: #F5A524;
  --green-c: #2AC868;
  --brown-c: #945C01;
  --red-c: #F11C62;

  --ui-z-index: 9990;
  --node-z-index: 600;
  --edge-z-index: 500;

  --modal-z-index: 9999;
  --toaster-z-index: 99999;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-c); 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}


@media only screen and (max-width: 767px) {
  body, html{
    height: 100dvh;
  }
}
