.toolbar {
    display: flex;
    gap: 10px;
    flex-direction: column;
    z-index: var(--ui-z-index);
    align-items: center;
}
.overlay {
    width: calc(100%);
    height: calc(100%);
    padding: 16px;
    position: absolute;
    display: flex;
    align-items: center;
}

.config {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--window-bg-c);
    border-radius: 5px;
    padding: 6px;
    box-sizing: content-box;
}
.config img:hover {
    border-radius: 5px;
    background-color: var(--text-hover);
    padding: 6px;
    box-sizing: content-box;
}

@media only screen and (max-width: 767px) {
    .overlay {
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 5rem;
    }
    .toolbar {
        flex-direction: row;
    }
}
