.toolbar {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    flex-direction: column;

    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 16px;
    z-index: var(--ui-z-index);
    transform: translate(0%, -50%);
}

.config {
    background-color: var(--window-bg-c);
    padding: 6px;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configicon {
    padding: 8px;
    border: 5px;
    border-radius: 5px;
}
.configicon:hover {
    background-color: var(--window-hover);
}
