.ui {
    height: 100vh;
    width: 100%;
    position: relative;
}
.uioverlay {
    height: 100vh;
    width: 100%;
    position: absolute;
}
.overlay {
    height: 100%;
    width: 100%;
    position: relative;
}

.createButton {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--yellow-c);
    font-size: 15px;
    z-index: var(--ui-z-index);
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .createButton {
        padding: 6px;
        font-size: 13px;
    }
    .createButton p {
        display: none;
    }
}
