.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
    background-color: var(--window-bg-c);
    z-index: var(--ui-z-index);
    border-radius: 5px;
    user-select: none;
}

.title {
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.img {
    width: 29px;
    height: 38px;
}


@media only screen and (max-width: 767px) {
    .img {
        width: 19px;
        height: 28px;
    }
    .title {
        font-size: 15px;

    }
    .logo {
        padding: 4px 12px;
    }
}
